<div class="container">
    <div id="installMask" class="row">
        <div id="installAdminUser" class="col-sm-6">
          <% include ../../partials/user/newUserMask %>
        </div>
    </div>
</div>