<meta charset="UTF-8">
<title>HRA Api Frontend <%= (typeof(subtitle)!=="undefined"?" - " + subtitle:"") %></title>

<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/bootstrap-validator/dist/validator.js"></script>
<script src="/bower_components/jquery_lazyload/jquery.lazyload.js"></script>
<script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/javascripts/main.js"></script>
<style>
    body    { padding-top:0px; }
</style>