<meta charset="UTF-8">
<title>HRA Api Frontend <%= (typeof(subtitle)!=="undefined"?" - " + subtitle:"") %></title>

<!-- CSS (load bootstrap from a CDN) -->


 <!-- 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  -->
<link rel="stylesheet" href="stylesheets/dist/bootstrap.css">
<script src="javascripts/dist/jquery.min.js"></script>
<script src="javascripts/dist/bootstrap.js"></script>
<script src="javascripts/dist/jquery.lazyload.js"></script>
<script src="javascripts/dist/jquery.cookie.js"></script>
<script src="javascripts/main.js"></script>
<style>
    body    { padding-top:0px; }
</style>